body {
    background-image: url(./cave.png);
    background-repeat: repeat-x;
    background-size: 100vw 100vh;
}

.viking {
    width: 512.1px;
    height: 515px;
    /* background-color: red; */
    background-image: url(./viking.png);
    position: absolute;
    margin-top: 255px;
    transform: scale(0.6);
}

.troll {
    width: 423px;
    height: 263.8px;
    background-image: url(./troll.png);
    position: absolute;
    transform: scaleX(-1.2) scaleY(1.2);
    margin-top: 350px;
    margin-left: 1000px;
}